.my-services {
    background-color: none;
    color: var(--clr-dark);
    text-align: center;
    border: 10px dotted var(--clr-dark);
    display: flex;
    flex-direction: column;
    gap:2em;
}

.section-title--services {
    color: var(--clr-dark);
    position: relative;
}

.services {
    display: flex;
    flex-direction: row;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

.skills-icons {
    margin-bottom: 5em;
    display: flex;
    justify-content: center; 
    align-items: center;    
    flex-wrap: wrap;       
    gap: 1rem;       
}

.skills-icon {
    width: 50px;            
    height: 50px;         
    margin-right: 10px;       
}
.learner-icon {
    width: 30px;
    height: 30px;

  }
@media (max-width: 820px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .service + .service {
        margin-left: 2em;
    }
}

@media (max-width: 768px) {
    .services {
        flex-direction: column; 
        align-items: center; 
    }

    .service {
        max-width: 100%; 
        text-align: center;
    }

    .skills-icons {
        justify-content: center;
    }
  }
