.intro {
    position: relative;
    padding: 4em 1em;
}

.section-role {
    font-size: 0.9rem;
    color: var(--clr-gray);
    margin-bottom: 0.5em;
    text-align: center;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    font-weight: var(--fw-medium);
}

.intro-title {
    letter-spacing: 0.05em;
}

.section-title--intro {
    margin-bottom: 0.5rem;
    color: var(--clr-black);
}

.section-skill--intro {
    letter-spacing: 0.02em;
    margin-top: 0;
    font-size: 1.3rem;
    color: var(--clr-gray-dark);
    min-height: 2em;
}

.skills-list {
    color: var(--clr-black);
    font-weight: var(--fw-medium);
    border-bottom: 2px solid var(--clr-black);
    padding-bottom: 0.1em;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 2em;
        grid-template-areas:
            "img role"
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .section-role {
        grid-area: role;
        text-align: left;
        margin-bottom: 0;
        align-self: end;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
        border: 3px solid var(--clr-black);
    }

    .intro-title {
        letter-spacing: 0.05em;
    }

    .section-subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 3;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
        margin-top: 1em;
    }
}
