.my-work {
    color: var(--clr-black);
    text-align: center;
    background: var(--clr-black);
    padding: 3em 2em;
}

.section-title--work {
    margin-top: 0;
    margin-bottom: 1em;
    color: var(--clr-white);
}

.section-subtitle--work {
    color: var(--clr-gray);
}

.portfolio-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    padding: 2em 1em;
}

.extra-margin {
  margin-top: 8rem;
}
  

@media (max-width: 768px) {
    .portfolio-list {
        grid-template-columns: 1fr; 
    }
    .portfolio {
      grid-template-columns: 1fr; 
    }
  
    .portfolio__item--tall {
      grid-row: auto;
    }
  
    .portfolio__item--wide {
      grid-column: auto; 
    }
  
}
